.cell{
width: 65px;
height: 65px;
background-color: aliceblue;
border: 1px solid grey;

}
.row_odd, .row_even {
    display: flex;
    justify-content: center;
}
.row_odd div:nth-child(even){
    background-color: black;
}
.row_even div:nth-child(odd){
    background-color: black;
}
body{
    height: 100vh;
    align-content: center;



}
